/* Gardein Font Family */
@font-face {
  font-family: 'Gardein';
  src: url('https://fonts.cdnfonts.com/s/104589/GardeinDisplayNormal-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gardein';
  src: url('https://fonts.cdnfonts.com/s/104589/GardeinDisplayNormal-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gardein';
  src: url('https://fonts.cdnfonts.com/s/104589/GardeinDisplayNormal-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Copperplate Font Family */
@font-face {
  font-family: 'Copperplate';
  src: url('https://fonts.cdnfonts.com/s/12965/Copperplate.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Copperplate';
  src: url('https://fonts.cdnfonts.com/s/12965/CopperplateBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Copperplate';
  src: url('https://fonts.cdnfonts.com/s/12965/CopperplateLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
